body{
    background-color:  rgb(196, 176, 176); 
    font-family: 'Arial Narrow';
    
   } 
p{  
    color:rgb(8, 10, 80);
    font-size: 16px;
    line-height; 1.5;
}   

.destaque{
    color: rgb(142, 142, 142);
    font-weight:bold ;
}
